@font-face {
  font-family: FuturaDemiC; /* Гарнитура шрифта */
  src: local(FuturaDemiC), url(../fonts/futurademic.otf),
    url(../fonts/futurademic.svg), url(../fonts/futurademic.eot);
}

body {
  padding: 0px;
  margin: 0px;
  background-color: black;
  font-family: FuturaDemiC;
}

.first {
  background-image: url("../photos/photos02/full/me_ciberpunk_seated_green.jpg"); /*фоновая картинка*/
  background-size: cover;
  color: white; /* Цвет текста */
  padding: 0px; /* Поля вокруг текста */
  border-radius: 0px; /* Уголки */
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: 100vh; /*непонятная строка с сайта дизайнера*/
  background-position-y: center;
  background-position-x: center;
}
.div01 {
  background-color: rgb(24, 24, 24);
  color: white; /* Цвет текста */
  padding: 0px; /* Поля вокруг текста */
  border-radius: 0px; /* Уголки */
  height: 300px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  align-items: center;
}
.div02 {
  background-color: rgb(31, 31, 31);
  color: white; /* Цвет текста */
  padding: 0px; /* Поля вокруг текста */
  border-radius: 0px; /* Уголки */
  height: 300px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  align-items: center;
}
.top01 {
  height: 40px;
  float: left;
}
.top02 {
  background-color: rgb(31, 31, 31);
  color: white; /* Цвет текста */
  padding: 0px; /* Поля вокруг текста */
  border-radius: 10px; /* Уголки */
  float: left;
  margin-right: 10px;
  height: auto;
  margin-top: 5px;
}
.top03 {
  height: 10em;
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 5px;
}
h2 {
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  margin-left: 5px;
}
::-webkit-scrollbar {
  /* width */
  width: 5px;
}
::-webkit-scrollbar-track {
  /* Track */
  background: rgb(31, 31, 31);
}
::-webkit-scrollbar-thumb {
  background: rgba(145, 214, 75, 0.89);
  border-radius: 10px;
}
