A:link {
  color: rgb(255, 255, 255);
}
A:visited {
  color: rgb(255, 255, 255);
}
A:hover {
  color: rgba(255, 255, 255);
}
a {
  text-decoration: none;
}
@font-face {
  font-family: FuturaDemiC; /* Гарнитура шрифта */
  src: local(FuturaDemiC), url(../fonts/futurademic.otf),
    url(../fonts/futurademic.svg), url(../fonts/futurademic.eot);
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(24, 24, 24);
  font-family: FuturaDemiC;
}
.first {
  background-image: url("../photos/photos02/full/me_ciberpunk_seated_green.jpg"); /*фоновая картинка*/
  background-size: cover;
  color: white; /* Цвет текста */
  padding: 0px; /* Поля вокруг текста */
  border-radius: 0px; /* Уголки */
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: 100vh; /*непонятная строка с сайта дизайнера*/
  background-position-y: center;
  background-position-x: center;
}
.first_text {
  margin-right: 10px;
  width: 30%;
  float: right;
}
.div01 {
  background-color: rgb(24, 24, 24);
  color: white; /* Цвет текста */
  padding: 0px; /* Поля вокруг текста */
  border-radius: 0px; /* Уголки */
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  align-items: center;
}
.div02 {
  background-color: rgb(31, 31, 31);
  color: white; /* Цвет текста */
  padding: 0px; /* Поля вокруг текста */
  border-radius: 0px; /* Уголки */
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  align-items: center;
}
.div03 {
  float: left;
  width: 50%;
  margin: 50px;
}
.pointer {
  position: absolute;
  top: 90%;
  left: 50%;
}
.div04 {
  background-color: blueviolet;
  color: rgb(0, 0, 0); /* Цвет текста */
  padding: 10px; /* Поля вокруг текста */
  border-radius: 0px; /* Уголки */
  margin: 5px;
}
.div04:hover {
  background-color: rgba(145, 214, 75, 0.89);
  color: rgb(0, 0, 0); /* Цвет текста */
  padding: 10px; /* Поля вокруг текста */
  border-radius: 0px; /* Уголки */
  margin: 5px;
}
.top01 {
  height: 40px;
  float: left;
}
.top02 {
  background-color: rgb(24, 24, 24);
  color: white; /* Цвет текста */
  padding: 0px; /* Поля вокруг текста */
  border-radius: 10px; /* Уголки */
  float: left;
  margin-right: 10px;
  height: auto;
  margin-top: 5px;
}
.center {
  height: 10em;
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 5px;
  display: flex; /* establish flex container */
  justify-content: center; /* center flex items horizontally, in this case */
  align-items: center; /* center flex items vertically, in this case */
}
h2 {
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  margin-left: 5px;
}
h2:hover {
  color: rgba(145, 214, 75, 0.89);
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  margin-left: 5px;
}
h2.normal {
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  margin-left: 5px;
}
h1 {
  color: rgba(145, 214, 75, 0.89);
}
.purple {
  color: blueviolet;
}
.text {
  width: 25%;
}
::-webkit-scrollbar {
  /* width */
  width: 5px;
}
::-webkit-scrollbar-track {
  /* Track */
  background: rgb(31, 31, 31);
}
::-webkit-scrollbar-thumb {
  background: rgba(145, 214, 75, 0.89);
  border-radius: 10px;
}
.scale {
  transition: 0.4s; /* Время эффекта */
  height: 200px;
  /* float: left; */
  margin: 5px;
}
.scale:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
}
.imgbig {
  max-width: 90%;
  max-height: 90%;
}
/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div {
  display: none;
}
/* вид текста label */
.hide + label,
.hide:checked + label {
  padding: 0;
  color: green;
  cursor: pointer;
  border-bottom: 1px dotted green;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
  color: red;
  border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
  display: block;
  background-color: rgb(24, 24, 24);
  color: white; /* Цвет текста */
  padding: 0px; /* Поля вокруг текста */
  border-radius: 0px; /* Уголки */
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  align-items: center;
}
.outer:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* добавим горизонтальное центрирование */
.outer {
  text-align: center;
}

main div {
  background: black;
  color: white;
  padding: 15px;
  max-width: 125px;
  margin: 5px;
}

.inline-block-center {
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
  text-align: left;
}
.Modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(0,0,0,0.7);
  pointer-events: none;
}
.Modal:target {
  display: flex;
  pointer-events: auto;
} 
.Modal_Body {
  position: relative;
  z-index: 2;
  display: block;
  margin: auto;
  padding: 15px;
  background: rgb(24, 24, 24);
}
.ModalFull {
position: absolute;
display: block;
z-index: 0;
width: 100%;
height: 100%;
}
