@font-face {
  font-family: FuturaDemiC; /* Гарнитура шрифта */
  src: local(FuturaDemiC), url(../fonts/futurademic.otf),
    url(../fonts/futurademic.svg), url(../fonts/futurademic.eot);
}

body {
  font-family: FuturaDemiC;
}

div {
  background: rgb(255, 255, 255); /* Цвет фона */
  color: rgb(0, 0, 0); /* Цвет текста */
  padding: 10px; /* Поля вокруг текста */
  border-radius: 10px; /* Уголки */
  width: 1100px;
  margin-bottom: 10px;
}
h4 {
  color: rgba(145, 214, 75, 0.89);
  margin-bottom: 0px;
  margin-top: 10px;
}

h3 {
  color: rgba(105, 86, 189, 0.89);
  margin-bottom: 0px;
  margin-top: 10px;
}

h2.top {
  text-align: center;
  color: white;
  margin-top: 0p;
}

A:link {
  color: rgb(255, 255, 255);
}
A:visited {
  color: rgb(255, 255, 255);
}
A:hover {
  color: rgba(145, 214, 75, 0.89);
}

.left {
  background: #34495e; /* Цвет фона */
  color: rgb(0, 0, 0); /* Цвет текста */
  padding: 10px; /* Поля вокруг текста */
  border-radius: 10px; /* Уголки */
  width: 90%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.subblock {
  background-color: rgb(69, 96, 122);
  margin-top: 10px;
}
.top {
  background: #34495e; /* Цвет фона */
  color: rgb(255, 255, 255); /* Цвет текста */
  padding: 0px; /* Поля вокруг текста */
  border-radius: 10px; /* Уголки */
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.grey {
  background-color: gainsboro;
  width: 98%;
}
img {
  border-radius: 10px;
}

.open {
  background: rgb(255, 255, 255); /* Цвет фона */
  color: rgb(0, 0, 0); /* Цвет текста */
  padding: 10px; /* Поля вокруг текста */
  border-radius: 10px; /* Уголки */
  width: 1000px;
  height: 100%;
  margin-bottom: 0px;
  margin-left: 0px;
}
.big {
  height: 500px;
}
.scale {
  transition: 0.4s; /* Время эффекта */
 }
 .scale:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
 }
 video {
   height: 200px;
   border-radius: 10px;
 }